body {
    background-color: #151927;
}

.login-box {
    margin: 132px auto;
    width: 281px;
    background: #23293b;
    border-radius: 5px;
    border: 1px solid #383e53;
    box-shadow: inset 0 0 2px 0 #ffffff26, 0 0 5px 0 #070910;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;

    color: #66677c;
    font-family: sans-serif, Arial, Helvetica;
}

.login-form > * {
    display: block;
    margin-bottom: 5px;
}

.login-form > label {
    font-size: 13px;
}

.login-form > input {
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    outline: none;
    background-color: #1b1c27;
    box-sizing: border-box;
    border: none;
    color: white;
    padding: 10px;
    /* font-family: monospace; */
    font-size: 13px;
    border: 2px #2f314b solid;
}

.login-form > h1 {
    text-align: center;
    margin: 0 0 15px 0;
    text-shadow: 0 3.5px 1px #424a68;
}

.login-form > button {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #66677c;
    background-image: linear-gradient(0deg, #3f4562, transparent);
    color: #b2a9c3;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 1px #6a6c78;
    text-shadow: 0 0 1px rgb(0, 0, 0);
}

.login-form > button:hover {
    filter: brightness(0.85);
}

.login-form > button:active {
    filter: brightness(0.70);
}