{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-box">
        <form class="login-form" action="/admin-panel/" autocomplete="new-password" method="post" >
            {% csrf_token %}
            <h1>Login</h1>
            <label>username</label>
            <input id="username" name="new-username" autocomplete="off" type="text">
            <label>password</label>
            <input id="password" name="new-password" type="password" autocomplete="new-password">
            <button type="submit">Log in</button>
        </form>
    </div>
</body>
</html>